{% extends "shop/layout.html" %}
{% block page_title %}
    {{ block.super }} :: {{ post.title }}

{% endblock %}

{% block content %}
    <h2>{{ shop.name }}</h2>

    <p>
        {% for tag in shop.tag_set.all %}
            <span class="badge" style="background-color: steelblue;">{{ tag.name }}</span>
        {% endfor %}
    </p>


    {{ shop.content|linebreaks }}

    <hr />
    <a href="{% url "shop:shop_list" %}">
        포스팅 목록
    </a>


    <a href="{% url "shop:shop_edit" shop.pk %}">
        포스팅 수정
    </a>

    <a href="{% url "shop:shop_delete" shop.pk %}">
        포스팅 삭제
    </a>

    <p>
        {% for review in review.review_set.all %}
            {{ review.author_name }}{{ review.message }}
        {% endfor %}
    </p>

    {{ shop.content|linebreaks }}

    <hr />


    <a href="{% url "shop:review_edit" shop.pk %}">
        리뷰 수정
    </a>

    <a href="{% url "shop:review_delete" shop.pk %}">
        리뷰 삭제
    </a>



{% endblock %}