{% extends 'shop/layout.html' %}\
{% load bootstrap5 %}

{% block content %}
    <h2>{{ shop.name }}</h2>
    <p>
        {% for tag in shop.tag_set.all %}
            {{ tag.name }}

        {% empty %} {# 태그가 없을 시 ~ django 템플릿만 갖고 있는 문법 #}
            등록된 태그가 없습니다.
        {% endfor %}
    </p>

    {% if shop.photo %}
        <img src ="{{ shop.photo.url }}" alt="{{ shop.name }}"/>
    {% else %}
        등록된 사진이 없습니다.
    {% endif %}

    {# 뽑아낼데이터|default:"" 앞의 값이 거짓이라면? ""를 반환하겠다. #}
    {{ shop.description|default:"설명이 없습니다." }}

    <hr/>
    <h3>리뷰</h3>

    {# 링크의 역할은 주소가 그쪽으로 넘어가면 끝남! #}
    <a href="{% url "shop:review_new" shop.pk %}" class ="btn btn-primary">
        리뷰쓰기
    </a>

    {# for문의 구조는 기존 파이썬의 구조와 같다 !  #}
    {% for review in shop.review_set.all %}
        <div>
            {{ review.message }}
            by {{ review.user }} {# 누가 썼어? #}
            at {{ review.created_at }} {# 언제 썼어?#}
            <a href="{% url "shop:review_edit" shop.pk review.pk %}">
                Edit
            </a>
        </div>

    {% empty %}
         등록된 리뷰가 없습니다.
    {% endfor %}

{% endblock %}