{% extends 'shop/layout.html' %}
{% load bootstrap5 %}
{% block content %}
    {# shop_list에서 하나씩 꺼내와서 샵에 담고, #}
    {# 이를 하나씩 순회를 돈다 #}
    {# hover -> 마우스 올렸을 때 색 변하는것 #}
    <p>
        {% for category in category_list %}
            <span class="badge bg-info">
                {{ category.name }}
            </span>
        {% endfor %}
    </p>

    <table class ="table table-bordered table-hover">
        <thead>
        <tr>
            <th>상점명</th>
            <th>등록 일시</th>
        </tr>
        </thead>

        <tbody>
            {% for shop in shop_list %}
                <tr>
                    <td>
                        <a href="{% url "shop:shop_detail" shop.pk%}">
                            {{ shop.name }}
                        </a>
                    </td>

                    <td>{{ shop.created_at }}</td>

                </tr>

            {% endfor %}
        </tbody>
    </table>
    {# 컨텐츠 안에 들어갈 것들을 tbody안에 #}

    {% bootstrap_pagination page_obj %} {# 페이징 #}
{% endblock %}
