{% extends 'blog/layout.html' %}



{% block content %}
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>title</th>
                <th>content</th>
            </tr>
        </thead>
        <tbody>
            {% for post in post_list %}
                <tr>
                    <td>
                        <a href="{{ post.pk}}">{{ post.title }}</a>

                    </td>
                    <td>

                            {{ post.content }}


                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}