{% extends "diary/layout.html" %}


{% block content %}




    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><h2>{{ post.title }}</h2></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{ post.content|linebreaks }}
                    <img src ="{{ post.photo.url }}" alt="{{ post.title }}"/>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{% url "diary:post_list" %}">목록으로</a>



{% endblock %}
