{% extends 'diary/layout.html' %}

{% block content %}
    <form action="" method="get">
        <input type="text"
               name="query"
               value="{{ request.GET.query }}"
               placeholder="Search.."/>
        <input type="submit" value="검색"/>

    </form>
    <ul>
        {% for post in post_list %}
            <li>
                {{ post.title }}
                <a href="{% url 'diary:post_detail' post.pk %}"></a>
                {{ post.title }}

            </li>

        {% endfor %}
    </ul>

{% endblock %}