{% extends "shop/layout.html" %}

{% block content %}

    <div class="row" style="margin-top: 1em;">
        {% for shop in shop_list %}
            <div class="col-sm-5 offset-sm-1" style="margin-bottom: 1em;">
                <div class="card">
                    <img src="{{ shop.thumbnail_photo.url }}"
                         alt="{{ shop.name }}"
                         class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">{{ shop.name }}{{ shop.pk }}</h5>
                        {{ shop.description|truncatewords:5 }}
                        <a href="{% url "shop:shop_detail" shop.pk %}" class="btn btn-sm alert-danger">
                            바로 가기
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr/>

{% endblock %}
