{% extends "shop/layout.html" %}
{% load bootstrap5 %}

{% block content %}

    <h2>{{ shop.name }}</h2>
    <p>
    {% for tag in shop.tag_set.all %}
        <span class="badge bg-success"> {{ tag.name }}</span>
    {% endfor %}
    </p>

    <img src="{{ shop.photo.url }}" alt="{{ shop.name }}"  width="100%" />

    {{ shop.description|linebreaks }}

    <h3>리뷰</h3>

    <ul>
        {% for review in review_list %}
            <li>
                {{ review.message }}
                by {{ review.author_name }}
                at {{ review.created_at |timesince }} 전
                <a href="{% url "shop:review_edit" shop.pk review.pk %}" class="btn alert-danger" >Edit</a>

            </li>

        {% endfor %}
    </ul>

    <p>
        # 해시태그 # :
        {% for tag in tag_list %}
            <a href="{% url "shop:tag_detail" tag.name %}" class="badge bg-success">
                {{ tag.name }}
            </a>
        {% endfor %}
    </p>


	    {{ shop.created_at |timesince }} 전
    <hr />



    <a href="{% url "shop:shop_edit" shop.pk %}" class="btn alert-success">수정</a>
    <a href="{% url "shop:shop_list" %}" class="btn alert-danger">
        목록으로
    </a>


{% endblock %}
