{% extends "shop/layout.html" %}
{% load bootstrap5 %}

{% block content %}
    <div class="container.py-3">
        <hr/>
        <h2>  # {{ tag_name }} </h2>
        <hr/>
        <div>
            {% for shop in shop_list %}
                <div>
                    <a href="{% url "shop:shop_detail" shop.pk %}">
                        <p></p>
                        {{ shop.pk }}번 게시물 : {{ shop.name }}

                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}